@import '../style/main.scss';


.HomeSection {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color:#202124;
    
}






.footer {
    
    display: flex;
    align-items: center;
    bottom: 0;
    box-sizing: border-box;
    position: fixed;
    text-align: center;
    white-space: nowrap;
    width:100vw;
    height: 4rem;
}

.menu {
    width: 100%;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .user_name {
        font-size:18px;
        color:white;
        
       
    }
    .menu_icon {
        width: 100%;
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        
    }
    .circleIcon {
        display:flex;
        justify-content: center;
        align-items: center;
        width:4rem;
        height:4rem;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.363);
        @include mobile {
            width:3rem;
            height: 3rem;
        }
        &:hover {
            background-color: #1a1e2c1a;
        }
        .icon {
            width:50%;
            height:50%;
            color:white;
           
         
        }
    }
    
   
}
