@import '../style/_main';
p{
    margin:0;
}

.HomeSection {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color:#202124;
    
}






.footer {
    
    display: flex;
    align-items: center;
    bottom: 0;
    box-sizing: border-box;
    position: fixed;
    text-align: center;
    white-space: nowrap;
    width:100vw;
    height: 5rem;
}

.menu {
    width: 100%;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .user_name {
        font-size:18px;
        color:white;
        
       
    }
    
    .menu_icon {
        width: 100%;
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2rem;
        
        
    }
   
    .previewInform {
        .preview_p {
            color: white;
            display: block;
            background-color: #3c4043;
            border-radius: 10%;
            padding: 5%;
            margin-bottom: 5%;
            font-size: 12px;
            opacity: 0;
            @include mobile {
                font-size:8px
            }
            // animation-name: preview_in;
            animation-duration:0.4s;
            animation-duration: leaner;
            animation-iteration-count:1;
            animation-direction:alternate;
            animation-fill-mode: forwards;
            
        }
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .circleIcon {
        display:flex;
        justify-content: center;
        align-items: center;
        width:3.6rem;
        height:3.6rem;
        border-radius: 50%;
        cursor: pointer;
        background-color: #3c4043;
        @include mobile {
            width:3rem;
            height: 3rem;
        }

        &:hover {
            background-color: #1a1e2c1a;
        }
        .icon {
            width:50%;
            height:50%;
            color:white;
           
         
        }
    }
    .exit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7.2rem;
        height: 3.6rem;
        border-radius: 1rem;
        cursor: pointer;
        background-color:red;
        .exiticon {
            width: 50%;
            height: 50%;
            color: white;
        }
    }
   
}
@keyframes preview_over {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
}
@keyframes preview_leave {
    0% {
        opacity:100;
    }
    100% {
        opacity: 0;
    }
}